name: rate-limiting-bursty-workloads

services:
  pg:
    build:
      dockerfile: Dockerfile
    container_name: pg
    restart: no
    environment:
      - TZ=UTC
      - PGTZ=UTC
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_AUTH_METHOD=trust
    network_mode: "host"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./insert.sql:/insert.sql
    command:
      - "-c"
      - "shared_preload_libraries=pg_cron"
